
footer{
    background-color: #042240;
    text-align: center;
    height: auto;
    width: 100%;
    padding: 30px

}

footer p{
    height: 20px;
    font-size: 1rem;
    color: white;
    padding: 20px;
    margin-bottom: 1px!important;
}

footer a .fab{
    margin-top: 2vh;
    margin-left: 20px;
    margin-right: 20px;
    width: 25px;
    color: #FFDF5A;
}

.p-contacto{
    margin-bottom: 1px;
}

.p-datos{
    margin-bottom: 1px;;
}

.p-footer-creador{
    padding-bottom: 5px;
    color:#8eb7ef;
    text-shadow: 1px 1px 2px black;
    
}
.p-footer-creador a{
    color:#8eb7ef;
    /* text-decoration: underline; */
    /* background-color: #07498b; */
    border-radius: 10px;
    /* padding-left: 5px; */
    /* padding-right: 5px; */
}

.logoBourder{
    width: 2rem;
    height: 2rem;
    display: inline;
    border-radius: 10px;
}

footer .row{
    height: auto!important;
}

.containerFooter{
    min-height: auto!important;
}

.datosFooter{
    margin-bottom: 3vh;
}
